@import "tailwindcss";



span.ant-menu-title-content {
    color:#403730;
    font-weight: 600;
    margin-top:2px;
}


.custom-menu .ant-menu-item:hover {
    background-color: transparent !important;
  }

  .custom-menu .ant-menu-item {
    margin-bottom: -15px;

  }

  .swiper-pagination-bullet{
    background-color: #403730 !important;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 90px !important;
    display: block;
  }