@import "tailwindcss";



span.ant-menu-title-content {
    color:#403730;
    font-weight: 600;
    margin-top:2px;
}


.custom-menu .ant-menu-item:hover {
    background-color: transparent !important;
  }

  .custom-menu .ant-menu-item {
    margin-bottom: -15px;

  }

  .swiper-pagination-bullet{
    background-color: #403730 !important;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 90px !important;
    display: block;
  }



  /* .custom-select {
    border: 0px solid red !important;
    outline: none !important;
  } */
  
  .custom-select:hover,
  .custom-select:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; /* Remove any additional focus styles */
  }

  .ant-select-selector {
    border: 1px solid gray !important;
    outline: 1px solid gray !important;
  }
  
  .ant-select-selector:hover,
  .ant-select-selector:focus {
    border: 1px solid gray  !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .ant-btn:hover {
    background-color: #363432 !important;
    color: #FFFFFF !important;
    outline: none;
    border: none;
  }



  .ant-btn {
    margin-left: 70%; /* Reduce margin on tablets */
  }
  

  
  @media (max-width: 768px) {
    .ant-btn {
      margin-left: 40%; /* Reduce margin on tablets */
    }
  }
  
  
  @media (max-width: 480px) {
    .ant-btn {
      background-color: red;
      margin-left: 40%; /* Further reduce margin on mobile */
    }
  }


  .ant-progress-bg{
    background-color: red;
  }


/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
  background: #1B2324;
}

/* Scrollbar Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937; /* Track color */
  border-left: 20px solid transparent; /* Creates space on the left */
}

/* Scrollbar Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Thumb color */
  border-radius: 4px;
}
